[Unit]
Description = A unix datagram socket that controls the volume
After = multi-user.target

[Service]
Type = simple
ExecStart = su <INSERT-USERNAME-WITH-AUDIO-PERMISSION-HERE> -c /usr/local/bin/volumectl
Restart = always

[Install]
WantedBy = multi-user.target
