[Unit]
Description = volumectl
After = multi-user.target

[Service]
Type = simple
ExecStart = su <YOUR-USER-NAME> -c /usr/local/bin/volumectl
Restart = always

[Install]
WantedBy = multi-user.target
